# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Mac Specific:
.DS_Store

# Editors
.idea/
*.swp
*~

# Used to track versions in distributions
RELEASE-VERSION

# test, docs, coverage
.pytest_cache
.coverage
