# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Mac Specific:
.DS_Store

# Editors
.idea/
*.swp
*~

# Used to track versions in distributions
RELEASE-VERSION

# test, docs, coverage
.pytest_cache
.coverage
.mypy_cache/

# venv stuff
bin/
lib/
pyvenv.cfg

# Personal tools not sure if I want to include
tools/build_one_file.sh
